/* Styles go here */

h1{
  color: Red;
  font-size:64px;
  text-shadow:3px 3px 0 #444;
  font-family: "Comic Sans MS", cursive, sans-serif;
}
input{
  width : 90%;
}

#a{
  width : 40%;
}
.deleteButton{
  color:red;
  position: absolute;
  right: 25px;
}

.inputType{
  color:red;
  position: absolute;
  right: 60px;
}

.toggle{
  color:red;
  position: absolute;
  right: 150px;
}

ul li {
  cursor: pointer;
  position: relative;
  padding: 12px 8px 12px 40px;
  list-style-type: none;
  background: #eee;
  font-size: 18px;
  transition: 0.2s;
  
  /* make the list items unselectable */
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
